p {
    background-color: darkblue;
    color: wheat;
    font-size: 40px;
}

.test1 {
    background-color: darkgreen;
    font-size: 30px;
}

span {
    height: 20px;
    background-color:slateblue;
    color: darkblue;
}