.text{
    width: 500px;
    border: 2px double blue;
    padding: 10px;
    border-radius: 15px;
    margin: auto;
    line-height: 30px;

    position: relative;
    top: 20px;
}
.my-div{
    width: 200px;
    background-color: red;
    height: 200px;

    position: fixed;
    top: 20px;
    bottom: 20px;
}
/* position : relative
fixed
stinky
absolute

 */

.div1{
    width: 600px;
    height: 600px;
    background-color: greenyellow;
    position: relative;
    left: 500px;
}
.div2{
    width: 400px;
    height: 400px;
    border: 20px double black;

    /*position: absolute;*/
    /*right: 10px;*/
    /*bottom: 20px;*/
}
.div3{
    width: 200px;
    height: 200px;
    background-color: darkred;
    position: absolute;
    left: -100px;
}